server {
    listen 80 default_server;
    listen [::]:80 default_server;
    root /usr/share/nginx/html;
    client_max_body_size 4M;

    location /static/ {
        alias /home/reddit-clone-static/;
        expires max;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api {
        proxy_pass http://localhost:8080;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port $server_port;
        #proxy_pass localhost;
        #proxy_http_version 1.1;
        # proxy_set_header Upgrade $http_upgrade;
        #proxy_set_header Connection "Upgrade";
        #proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        #proxy_set_header        X-Forwarded-Proto $scheme;
    }
}